.blog-container {
    padding: 1rem;
    font-size: 1.5rem;
}
  
.blog-section {
  padding: 1rem;
  border: 1px solid rgb(51, 51, 51);
  background-color: rgb(209, 206, 206);
}

.blog-title {
  color: rgb(1, 42, 88);
  font-size: 2rem;
  padding-bottom: 1rem;
}

.blog-content {
  color: rgb(78, 78, 78);
} 

.read-button{
  color: rgb(78, 1, 1);
  padding-left: 1rem;
  cursor: pointer;
}

.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.8;
}

.modal-container{
  position: fixed;
  top:0;
  left: 0;
  z-index: 1005;
  width: 100%;
  height: 100%;
  overfloW-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal{
  z-index: 100;
  background-color: white;
  position: relative;
  padding: 2rem;
  border-radius: 0.3rem;
  max-width: 50rem;
}

